@model HomeService.Models.Booking

@{
    ViewData["Title"] = "BookService";
}

<h1>BookService</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookService">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="ServiceProviderId" class="control-label"></label>
                <input asp-for="ServiceProviderId" class="form-control" />
                <span asp-validation-for="ServiceProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicedate" class="control-label"></label>
                <input asp-for="Servicedate" class="form-control" />
                <span asp-validation-for="Servicedate" class="text-danger"></span>
                <asp:TextBox ID="datepicker1" runat="server" CssClass="input" placeholder="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == ''){this.value = '';}" onchange="dateCheck();" />

                <asp:CalendarExtender ID="CalendarExtender1" TargetControlID="datepicker1" Format="MM/dd/yyyy" runat="server" OnClientDateSelectionChanged="checkDate">
                </asp:CalendarExtender>

            </div>

            <div class="form-group">
                <label asp-for="Starttime" class="control-label"></label>
                <input asp-for="Starttime" class="form-control" id="txttime" />
                <span asp-validation-for="Starttime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estimatedcost" class="control-label" id="estimatedcost"></label>
                <input asp-for="Estimatedcost" class="control-label" id="costperhour" style="display:none" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    @*$('#txttime').keypress(function () {
        int cost = @Convert.ToInt32(TempData.Peek("msg1"));
        $('#estimatedcost').html( $('#txttime').val() * cost);
    });*@
    $('#txttime').keyup(function ()
    {
        var costperhour = $('#costperhour').val();
        var noofhours = $('#txttime').val();
        $('#estimatedcost').html("Estimated : "+parseInt(costperhour) * parseInt(noofhours));
    })
</script>
<script>
    function dateCheck() {
        debugger;
        var date = document.getElementById('<%=datepicker1.ClientID%>').value;
        var fields = date.split('/');
        if (fields.length == 3) {
            var today = new Date();
            var dd = today.getDate();
            var mm = (today.getMonth() + 1); //January is 0!
            var yyyy = today.getYear() + 1900;
            var today = mm + '/' + dd + '/' + yyyy;

            // var selecteddate = sender._selectedDate;

            var dd1 = fields[1];
            var mm1 = fields[0]; //January is 0!
            var yyyy1 = fields[2];
            if (yyyy1 < yyyy) {
                alert("You cannot select a day earlier than today!");
                document.getElementById('<%=datepicker1.ClientID%>').value = '';
            }

            else if (yyyy1 == yyyy) {
                if (mm1 < mm) {
                    alert("You cannot select a day earlier than today!");
                    document.getElementById('<%=datepicker1.ClientID%>').value = '';
                }

                else if (mm1 == mm) {
                    if (dd1 < dd) {
                        alert("You cannot select a day earlier than today!");
                        document.getElementById('<%=datepicker1.ClientID%>').value = '';
                    }
                }
            }
        }
    }

    function checkDate(sender, args) {
        debugger;
        var today = new Date();
        var dd = today.getDate();
        var mm = (today.getMonth() + 1); //January is 0!
        var yyyy = today.getYear();
        var today = mm + '/' + dd + '/' + yyyy;
        var selecteddate = sender._selectedDate;
        var dd1 = selecteddate.getDate();
        var mm1 = (selecteddate.getMonth() + 1); //January is 0!
        var yyyy1 = selecteddate.getYear();
        if (yyyy1 < yyyy) {
            alert("You cannot select a day earlier than today!");
            sender._selectedDate = new Date();

            // set the date back to the current date

            sender._textbox.set_Value(sender._selectedDate.format(sender._format))
        }

        else if (yyyy1 == yyyy) {
            if (mm1 < mm) {
                alert("You cannot select a day earlier than today!");
                sender._selectedDate = new Date();

                // set the date back to the current date

                sender._textbox.set_Value(sender._selectedDate.format(sender._format))
            }

            else if (mm1 == mm) {
                if (dd1 < dd) {
                    alert("You cannot select a day earlier than today!");
                    sender._selectedDate = new Date();

                    // set the date back to the current date

                    sender._textbox.set_Value(sender._selectedDate.format(sender._format))
                }
            }
        }
    }

</script>