    
@{
    ViewData["Title"] = "Index";
}

@{ 
    if (Convert.ToInt32(TempData.Peek("ServiceBookingRequests")) !=0)
    {
        <a href="/ServiceProvider/BookingRequests">New Request </a>
    }
}


<h1>Index</h1>

