@model HomeService.Models.Booking

@{
    ViewData["Title"] = "BookService";
}

<h1>BookService</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookService">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="ServiceProviderId" class="control-label"></label>
                <input asp-for="ServiceProviderId" class="form-control" />
                <span asp-validation-for="ServiceProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicedate" class="control-label"></label>
                <input asp-for="Servicedate" class="form-control" />
                <span asp-validation-for="Servicedate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Starttime" class="control-label"></label>
                <input asp-for="Starttime" class="form-control" id="txttime" />
                <span asp-validation-for="Starttime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estimatedcost" class="control-label" id="estimatedcost"></label>
                <input asp-for="Estimatedcost" class="control-label" id="costperhour" style="display:none" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    @*$('#txttime').keypress(function () {
        int cost = @Convert.ToInt32(TempData.Peek("msg1"));
        $('#estimatedcost').html( $('#txttime').val() * cost);
    });*@
    $('#txttime').keyup(function ()
    {
        var costperhour = $('#costperhour').val();
        var noofhours = $('#txttime').val();
        $('#estimatedcost').html("Estimated : "+parseInt(costperhour) * parseInt(noofhours));
    })
</script>