
@{  if (Convert.ToInt32(TempData.Peek("ServiceProviderRequests")) != 0)
    {
    <a href="/admin/ServiceProviderRequests">Request <span>@TempData.Peek("ServiceProviderRequests")</span> </a>
    }
    else
    {
        <h1>No Requests</h1>
    }

<a href= "/admin/AddSpecification" class="btn btn-primary" > Add Specification</a>

<a href="/admin/AddSpecilization" class="btn btn-primary"> Add Specialization</a>

    
}
